@import url('https://fonts.google.com/specimen/Overpass');

:root{
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

body{
    background-color: var(--very-dark-blue);
    font-family: 'Overpass', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 300px;
    width: 300px;
    background-color: #212832;
    border-radius: 20px;
    padding: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.titulo{
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 19px;
    font-weight: 700;
}
.content{
    height: 100%;
    width: 100%;
}
.icone{
    height: 37px;
    width: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dark-blue);
    border-radius: 30px;
}
.mensagem{
    font-size: 11px;
    color: var(--medium-grey);
    font-weight: 300;
}
.notas{
    display: flex;
    justify-content: space-between;
}
.nota{
    height: 37px;
    width: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dark-blue);
    border-radius: 30px;
    color: var(--medium-grey);
    font-size: 12px;
}
.nota:hover{
    cursor: pointer;
    background-color: #7c8798;
    color:var(--white)
}
.nota-escolhida{
    background: var(--orange) !important;
    color: var(--white);
}
.btn{
    display: flex;
    align-items: flex-end;
}
button{
    background: var(--orange);
    color: var(--white);
    border-radius: 20px;
    height: 75%;
    width: 100%;
    border: none;
    font-family: 'Overpass', sans-serif;
    text-transform: uppercase;
}
button:hover{
    background-color: var(--white);
    color:var(--orange);
    cursor: pointer;
}
.rate{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #272e38; 
    color: var(--orange); 
    border-radius: 30px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 40%;
    width: 60%;
    font-size: 11px;
}